#header-img {
    height: 120px;
}

#header-video {
    height: 80px;
    width: 100px;
}

#nav-bar {
    display: flex;
    list-style: none;
    flex-direction: row;
}

@media (max-width: 600px) {
    #nav-bar {
        background-color: gray;
    }
}